<!-- Button trigger modal -->
<div class="d-flex justify-content-between w-50 m-auto">
  <button
    type="button"
    class="btn btnAjouter"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Ajouter articles
  </button>
  <button class="btn btnAjouter" (click)="deconnexion()">Déconnexion</button>
</div>
<div class="form-floating mb-3 w-50 mt-4 m-auto">
  <input
    type="email"
    class="form-control"
    id="floatingInput"
    [(ngModel)]="search"
    (input)="getSearch()"
  />
  <label for="floatingInput">Search Articles</label>
</div>

<div class="row container mx-auto" >
  <div class="face-snap-card col-4" *ngFor="let article of getArticlesPage()" [ngClass]="{ gris:article.etat=='inactive' }">
    <div *ngIf="article.userId" >
      <h2 id="titre">{{ article.title }}</h2>
      <div class="d-flex justify-content-end mb-2" >

          <div  class="btn mx-2 "  id="button"  (click)="toggleEtat(article)">{{ (article.etat === 'active') ? 'Désarchiver' : 'Archiver' }}</div>
      </div>

      <img id="image"
        *ngIf="article.image==null"
        [src]="imageUrlFixed"
        alt=""
      />
      <img
        id="image"
        *ngIf="article.image != null"
        [src]="article.image"
        alt=""
      />
      <p id="description">{{ article.body }}</p>
      <p>
        <button id="button" data-bs-toggle="modal" data-bs-target="#details" (click)="showDetails(article)">detail</button>
        <button id="button" data-bs-toggle="modal" data-bs-target="#modifModal" (click)="charger(article)">Modifier</button>
      </p>
    </div>
  </div>
</div>

<!-- Modal pour ajouter article -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Article</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image:</label>
            <input
              type="text"
              name="image"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              [(ngModel)]="photo"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInput" class="form-label">Titre:</label>
            <input
              type="text"
              name="titre"
              class="form-control"
              id="exampleInput"
              aria-describedby="emailHelp"
              [(ngModel)]="titre"
            />
          </div>
          <div class="form">
            <label for="Textarea2" class="mb-3">Texte:</label>
            <textarea
              class="form-control"
              name="text"
              placeholder="Apercu de votre article"
              id="Textarea2"
              style="height: 100px"
              [(ngModel)]="texte"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn boutonModal"
          data-bs-dismiss="modal"
          (click)="addArticle()"
        >
          Ajouter
        </button>
        <button
          type="button"
          class="btn fermer text-dark"
          data-bs-dismiss="modal"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal pour modifier article -->
<div
  class="modal fade"
  id="modifModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifModal">Modifier Article</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Image:</label>
              <input type="text" name="image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="photo">
            </div>
            <div class="mb-3">
              <label for="exampleInput" class="form-label">Titre:</label>
              <input type="text" name="titre" class="form-control" id="exampleInput" aria-describedby="emailHelp" [(ngModel)]="titre">
            </div>
            <div class="form">
                <label for="Textarea2" class="mb-3">Texte:</label>
                <textarea class="form-control" name="text" placeholder="Apercu de votre article" id="Textarea2" style="height: 100px" [(ngModel)]="texte"></textarea>
              </div>


          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn boutonModal" data-bs-dismiss="modal" (click)="modifierArticle()">
          Modifier
        </button>
        <button
          type="button"
          class="btn fermer text-dark"
          data-bs-dismiss="modal"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

<!-- details button modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details">
  Launch demo
</button> -->

<!-- details Modal -->
<div
  class="modal fade modal-lg"
  id="details"
  tabindex="-1"
  aria-labelledby="detailsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailsLabel">{{ details.title }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <img
        src="https://img.freepik.com/premium-photo/luxury-interior-room-design-uhd-wallpaper_871881-52626.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph"
        alt=""
      /> -->
        <img id="details-image"  *ngIf="details.image == null" [src]="imageUrlFixed" alt="" />
        <img id="details-image" *ngIf="details.image != null" [src]="details.image" alt="" />
        <!-- {{details.title}} -->
        {{ details.body }}
      </div>
      <div class="w-75 m-auto mb-4">

        <div class="form-floating ">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        <button type="button" class="btn btnAjouter w-100">Commenter</button>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- pour la pagination -->
<div class="d-flex justify-content-center my-5">
  <button class="btn btnColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn btnColor ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>
